state_bucket_name = "planext4u-terraform-state-000000000000"
ci_role_arns = [
  "arn:aws:iam::111111111111:role/planext4u-terraform-plan",
  "arn:aws:iam::222222222222:role/planext4u-terraform-plan"
]
